/* Mise en forme du formulaire. */
.card {
    background-color: #A1CCCA !important;
    font-size: 15px;
}


/* Mise en forme du bouton. */
.btn {
    font-size: 18px;
}


/* Mise en forme de la force progress du password. */
#forcePassword{
    display: none;
    margin-top: 1rem;
}

.force-progress{
    height: 10px;
    background-color: #e9ecef;
    overflow: hidden;
}

.force-progress .p-bar{
    width: 0;
    height: 100%;
    transition: width ease-in-out 1s;
}
