#forcePassword{
    display: none;
    margin-top: 1rem;
}

.force-progress{
    height: 10px;
    background-color: #e9ecef;
    overflow: hidden;
}

.force-progress .p-bar{
    width: 0;
    height: 100%;
    transition: width ease-in-out 1s;
}