/* INSCRIPTION : Mise en forme du formulaire d'inscription. */

.card-inscription {
    background-color: #A1CCCA !important;
    font-size: 15px;
}

.btn-inscription {
    font-size: 18px;
}


/* INSCRIPTION : Mise en forme de la force progress du password du formulaire. */

#forcePassword{
    display: none;
    margin-top: 1rem;
}

.force-progress{
    height: 10px;
    background-color: #e9ecef;
    overflow: hidden;
}

.force-progress .p-bar{
    width: 0;
    height: 100%;
    transition: width ease-in-out 1s;
}


/* LOGIN : Mise en forme image avatar. */

#avatar {
    height: 15rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    margin-bottom: 3em;
    margin-top: 3em;
}


/* LOGIN : Mise en forme du bouton se déconnecter. */

.btn-logout {
    font-size: 14px;
}


/* LOGIN : Mise en forme de l'icône login. */
.icon {
    font-size: 1.8em;
    height: 1.8em;
    width: 1.8em;
}


/* LOGIN : Mise en forme du formulaire de login. */

.card-login {
    background-color: #A1CCCA !important;
    font-size: 15px;
}


.btn-login {
    font-size: 18px;
}
